@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="../assets/global/images/favicon.png" type="image/png">
    @*<title>Student Data</title>*@  
    <link href="../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
    <link href="~/assets/global/css/style.css" rel="stylesheet" />
    <link href="~/assets/global/css/theme.css" rel="stylesheet"> 
    <link href="~/assets/global/css/ui.css" rel="stylesheet"> 
    <link href="~/assets/admin/layout1/css/layout.css" rel="stylesheet">
    <link href="~/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="~/assets/global/plugins/input-text/style.min.css" rel="stylesheet">
    <script src="~/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="../assets/global/plugins/rateit/rateit.css" rel="stylesheet">
    <script src="../assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head> 

<body class="fixed-topbar fixed-sidebar theme-sdtl color-default">


    <!-- BEGIN SIDEBAR -->
    <div class="sidebar">
        <div class="logopanel">
            <h1> 
                <a href="#">LOGO</a>
            </h1>
        </div>
        <div class="sidebar-inner">
            <div class="sidebar-top">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="" style="width: 45px; height: 45px;" class="img-circle" alt="">
                    </div>
                    <div class="pull-left info">
                        <p style="color:white;margin-left: 23px;">EON FITNESS EMPIRE</p>
                    </div>
                </div>
                
            </div>
            <ul class="nav nav-sidebar">
              @Html.Partial("SidebarPartial")
            </ul>
           
        </div>
    </div>
    <!-- END SIDEBAR -->
    <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
            <div class="header-left">
                <div class="topnav">
                    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                    <ul class="nav nav-icons">
                       
                                <li>
                                    @{
                                        var images = @Url.Content("~/Images/ProfilePic/" + Session["ProfilePic"]);

                                    }
                                    <img src="@images" style="height:30px; width:30px;" class="img-circle special-img" />
                                </li>
                                <li class="toggle-sidebar-top" style="font-size:16px;">
                                    @{ @Session["UserName"] }
                                </li>
                                <li class="toggle-sidebar-top"><a href="/admin/Logout">
                               Sign Out</a></li>
                            </ul>
                        </div>
</div>
            <div class="header-right">
                <ul class="header-menu nav navbar-nav">
                </ul>
            </div>
            <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->

        @*<div class="header">*@
        @*<h2><strong>Blank</strong> Page</h2>*@
        @*<div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li><a href="dashboard.html">Make</a>
                </li>
                <li><a href="#">Pages</a>
                </li>
                <li class="active">Dashboard</li>
              </ol>
            </div>*@
        @*   <hr />*@
        <div class="page-content">
            @RenderBody()
        </div>

        @*<hr />*@

        <div class="footer">
            <div class="copyright">
                <p class="pull-left sm-pull-reset">
                    <span>Copyright <span class="copyright">©</span> 2015 </span>
                    <span>THEMES LAB</span>.
                <span>All rights reserved. </span>
                </p>
                <p class="pull-right sm-pull-reset">
                    <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                </p>
            </div>
        </div>
    </div>

    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    <script src="~/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="../assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/global/plugins/bootstrap/js/jasny-bootstrap.min.js"></script>

    <script src="../assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script>
    <!-- Jquery Cookies, for theme -->
    <script src="../assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script>
    <!-- simulate synchronous behavior when using AJAX -->
    <script src="../assets/global/plugins/bootbox/bootbox.min.js"></script>
    <!-- Modal with Validation -->
    <script src="../assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom Scrollbar sidebar -->
    <script src="../assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <!-- Show Dropdown on Mouseover -->
    <script src="../assets/global/plugins/charts-sparkline/sparkline.min.js"></script>
    <!-- Charts Sparkline -->
    <script src="../assets/global/plugins/retina/retina.min.js"></script>
    <!-- Retina Display -->
    <script src="../assets/global/plugins/select2/select2.min.js"></script>
    <!-- Select Inputs -->
    <script src="../assets/global/plugins/icheck/icheck.min.js"></script>
    <!-- Checkbox & Radio Inputs -->
    <script src="../assets/global/plugins/backstretch/backstretch.min.js"></script>
    <!-- Background Image -->
    <script src="../assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Animated Progress Bar -->
    <script src="../assets/global/plugins/charts-chartjs/Chart.min.js"></script>
    <script src="../assets/global/js/builder.js"></script>
    <!-- Theme Builder -->
    <script src="../assets/global/js/sidebar_hover.js"></script>
    <!-- Sidebar on Hover -->
    <script src="../assets/global/js/application.js"></script>
    <!-- Main Application Script -->
    <script src="../assets/global/js/plugins.js"></script>
    <!-- Main Plugin Initialization Script -->
    <script src="../assets/global/js/widgets/notes.js"></script>
    <!-- Notes Widget -->
    <script src="../assets/global/js/quickview.js"></script>
    <!-- Chat Script -->
    <script src="../assets/global/js/pages/search.js"></script>
    <!-- Search Script -->
    <!-- BEGIN PAGE SCRIPT -->
    <script src="../assets/global/plugins/switchery/switchery.min.js"></script>
    <!-- IOS Switch -->
    <script src="../assets/global/plugins/bootstrap-tags-input/bootstrap-tagsinput.min.js"></script>
    <!-- Select Inputs -->
    <script src="../assets/global/plugins/dropzone/dropzone.min.js"></script>
    <!-- Upload Image & File in dropzone -->
    <script src="../assets/global/js/pages/form_icheck.js"></script>
    <!-- Change Icheck Color - DEMO PURPOSE - OPTIONAL -->
    <!-- END PAGE SCRIPTS -->
    <script src="../assets/global/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <!-- A mobile and touch friendly input spinner component for Bootstrap -->
    <script src="../assets/global/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script>
    <!-- Time Picker -->
    <script src="../assets/global/plugins/multidatepicker/multidatespicker.min.js"></script>
    <!-- Multi dates Picker -->
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- >Bootstrap Date Picker -->
    <script src="../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <!-- >Bootstrap Date Picker in Spanish (can be removed if not use) -->
    <script src="../assets/global/plugins/colorpicker/spectrum.min.js"></script>
    <!-- Color Picker -->
    <script src="../assets/global/plugins/rateit/jquery.rateit.min.js"></script>
    <!-- Rating star plugin -->
    <script src="../assets/global/js/pages/form_plugins.js"></script>
    <!-- END PAGE SCRIPTS -->
    <script src='../assets/global/plugins/moment/moment.min.js'></script>
    <script src='../assets/global/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script src="../assets/admin/layout1/js/layout.js"></script>
    <script src="../assets/global/js/pages/fullcalendar.js"></script>
</body>
</html>
