@model IPagedList<MyProject.Models.TransactionDetail>
    @using PagedList
    @using PagedList.Mvc
    @using MyProject.Models
    @{
    ViewBag.Title = "MemberPayment";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
    }

@{ 
    DbGymEntities db = new DbGymEntities();
    List<PackageDetail> PackageDetails = db.PackageDetails.ToList();
    List<SelectListItem> FinalName = new List<SelectListItem>();
    foreach (PackageDetail item in PackageDetails)
    {
        FinalName.Add(new SelectListItem { Text = item.NumberOfMonth + "  " + item.Pkg_Month + "  " + "Rs. " + item.Pkg_Ammount + "  Per Package", Value = item.ID.ToString(), Selected = (Convert.ToString(ViewBag.SelectedPackage) == Convert.ToString(item.ID)) });
    }
}
    @Html.ValidationSummary(true)
    @if (ViewBag.Message != null)
    {
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
    }
    <div class="row">
        <div class="col-md-12">
            @*<div class="panel panel-info">
                <div class="panel-header">
                    *@
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Member Payment</strong>
                        </div>
                        <form id="AddData">
                            <div class="form-group">
                                <input type="hidden" id="MemberRegistration_PK_ID" name="MemberRegistration_PK_ID" value="@ViewBag.MemberID"  />
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <input class="form-control" readonly name="Name" id="Name" value="@ViewBag.Name" placeholder="Enter Name">                                                
                                            </div>
                                            <div class="form-group">
                                                <label>Select Package</label>
                                                @Html.DropDownList("PackageDetails_PK_ID", FinalName, "Select Package", htmlAttributes: new { @class = "form-control" })                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Package Start Date</label>
                                                <div class="prepend-icon">
                                                    <input type="text" name="PackageStartDate" id="PackageStartDate" class="date-picker form-control" placeholder="Select a date...">
                                                    <i class="icon-calendar"></i>                                                    
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Package End Date</label>
                                                <div class="prepend-icon">
                                                    <input type="text" name="PackageEndDate" id="PackageEndDate" class="date-picker form-control" placeholder="Select a date...">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>                                                                                     
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Mobile Number</label>
                                                <input class="form-control" type="number" readonly="readonly" name="MobileNumber" id="MobileNumber" value="@ViewBag.Mobile" placeholder="Enter Month or Year">                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Paying Amount</label>
                                                <input class="form-control" type="number" name="Paid_Amount" id="Paid_Amount" placeholder="Enter Paying Amount">                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Due Amount</label>
                                                <input class="form-control" type="number" name="Due_Amount" id="Due_Amount" placeholder="Enter Due Amount">
                                            </div>
                                            <div class="form-group" style="margin-bottom:-8px;">
                                                <label class="form-label">Next Payment Date</label>
                                                <div class="prepend-icon">
                                                    <input type="text" name="NextPaymentDate" id="NextPaymentDate" class="date-picker form-control" placeholder="Select a date...">
                                                    <i class="icon-calendar"></i>
                                                </div>
                                            </div>                                           
                                            <div class="form-group" style="margin-top:40px;">
                                                <button type="submit" class="btn btn-embossed btn-primary">Make Payment</button>
                                                <button type="Reset" class="btn btn-embossed btn-primary">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-md-12">
                @Html.Partial("_MemberPaymentList")
            </div>

            <script language="javascript">
                $(document).ready(function () {
                    $("#AddData").on('submit', function (e) {

                        e.preventDefault();
                        var $this = $(this);
                        var dataToPost = $(this).serialize();

                        $.post("/Admin/SaveMemberPayment", dataToPost)
                            .done(function (response, status, jqxhr) {
                                alert("Member Payment Successfully Added.");
                                window.location.href = '/Admin/MemberPayment/@ViewBag.MemberID';
                            })
                            .fail(function (jqxhr, status, error) {
                                // this is the ""error"" callback
                            });
                    });
                });
            </script>
